services:
  web:
    build: .
    ports:
      - "8000:8000"
      
    env_file: .env  
    environment:
      - DB_NAME=dorashop
      - DB_USER=postgres
      - DB_PASSWORD=postgres
      - DB_HOST=db  
    depends_on:
      - db

  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      POSTGRES_DB: dorashop
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

volumes:
  postgres_data:
